/**
 * Base styling for views. Centered and 100% view height
 */

.view {
	height: calc(100vh - #{$navbar-height});
	display: flex;
	justify-content: center;
	align-items: center;
}

.view-content {
	margin: inherit auto;
	max-width: 650px;
	text-align: center;
}